<ion-header>

  <ion-navbar color="primary">
    <div [class]="focus?'':'hide'">
      <form action=".">
        <ion-searchbar (search)="search()" placeholder="逛累了，直接搜~" animated="true" [(ngModel)]="params.keyword" [ngModelOptions]="{standalone: true}"></ion-searchbar>
      </form>
    </div>
    <ion-title *ngIf="!focus">{{params.keyword ? params.keyword : title}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="cancel()" *ngIf="focus"> 取消 </button>
      <button ion-button icon-only (click)="setFocus()" *ngIf="!focus">
      <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="nav-title bgwhite" *ngIf="!params.ru_id && !params.keyword">
    <ion-segment mode="md">
      <ion-segment-button (click)="toggleType(0)">
        全部
      </ion-segment-button>
      <ion-segment-button *ngFor="let item of categories;" (click)="toggleType(item.tc_id)">
        {{item.name}}
      </ion-segment-button>
    </ion-segment>
  </div>
  <!--分类按钮-->
  <!-- <div *ngIf="!params.ru_id && !params.keyword" class="segment-buttons-container"></div>
  <div *ngIf="!params.ru_id && !params.keyword" class="segment-buttons" flex ion-fixed top left>
    <ion-segment class="{{'segment segment-ios'+(tc_id==0?' segment-activated':'')}}" (click)="toggleType(0)">全部</ion-segment>
    <ion-segment class="{{'segment segment-ios'+(item.tc_id==tc_id?' segment-activated':'')}}" *ngFor="let item of categories;" (click)="toggleType(item.tc_id)">{{item.name}}</ion-segment>
    
  </div> -->

  <!--轮播-->
  <ion-slides *ngIf="!params.ru_id && !params.keyword" pager>
    <!--<ion-slide>
      <img src="assets/imgs/card-saopaolo.png">
    </ion-slide>-->
    <ion-slide *ngFor="let item of banner">
      <img [src]="item.pic" onerror="this.src=='assets/imgs/404.jpg'||(this.src='assets/imgs/404.jpg')">
    </ion-slide>
  </ion-slides>

  <!--小分类-->
  <div class="categories_children" flex padding *ngIf="team_categories_child.length && !params.ru_id && !params.keyword">
    <div class="categories_child" *ngFor="let item of team_categories_child" flex-column (click)="cp.goto({tc_id:item.tc_id, view:'channel', title: item.name})">
      <img [src]="item.tc_img" onerror="this.src=='assets/imgs/404.jpg'||(this.src='assets/imgs/404.jpg')">
      <ion-note color="dark">{{item.name}}</ion-note>
    </div>
    <!--<div class="categories_child"></div>-->
  </div>

  <!--大图-->
  <div *ngIf="!params.ru_id && !params.keyword" class="banner-bottom">
    <img *ngFor="let img of banner_bottom" [src]="img.pic">
  </div>


  <!--小图推荐-->
  <ion-grid no-padding class="ads" *ngIf="!params.ru_id && !params.keyword && (ads_left.length || ads_right.length)" margin-top>
    <ion-row>
      <ion-col flex-column>
        <img *ngFor="let img of ads_left" [src]="img.pic" onerror="this.src=='assets/imgs/404.jpg'||(this.src='assets/imgs/404.jpg')">
      </ion-col>
      <ion-col flex-column>
        <img *ngFor="let img of ads_right" [src]="img.pic" onerror="this.src=='assets/imgs/404.jpg'||(this.src='assets/imgs/404.jpg')">
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--推荐商品-->
  <div class="good-list" margin-top>
    <good-item *ngFor="let good of goodList" [good]="good"></good-item>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite()">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
