index-column {
    .col {
        padding: 10px 0 0;
        text-align: center;
        font-weight: 500;
        img {
            padding: 0 1.4rem .9rem;
        }
      }

    .card-ios{ margin-bottom: 0;}
}
