.share-container .popover-content{top:auto!important; left:11px!important; bottom:15px;width:calc(100% - 22px);}
page-share {
  #share{width:100%;border-radius:6px;padding:5px 0}#share .row{ justify-content: center;}#share .col{padding:10px 20px;text-align:center;flex-basis:33%;max-width:106px;}#close-share{text-align:center;border-radius:6px;padding:15px 0; border: 1px solid color($colors,background)}
}
